<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top:60px; -webkit-column-count:3; -webkit-column-rule:solid; -moz-column-count:3; -moz-column-rule:solid;">
    <div id="team1" style="padding-left:10px; padding-right:10px;">
      <div class="row">
        <div class="col-lg-12">
          <h2><%= team_number_1 %> - <%= team_name_1 %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10">
          <h3 style="margin-top:0;">Avg. Score: <%= avg_auto_score_1 %> / <%= avg_contrib_score_1 %></h3>
          <h3><u>Autonomous Data</u></h3>
          <h4 style="margin-top:0;">No Auto: <%= no_autos_1 %></h4>
          <h4 style="margin-top:0;">Reaches: <%= auto_reaches_1 %></h4>
          <h4 style="margin-top:0;">High Goals: <%= auto_high_made_1 %> / <%= auto_high_attempts_1 %></h4>
          <h4 style="margin-top:0;">Low Goals: <%= auto_low_made_1 %> / <%= auto_low_attempts_1 %></h4>
          <table class="table">
            <tr>
              <th>PC</th>
              <th>CF</th>
              <th>M</th>
              <th>RP</th>
              <th>DB</th>
              <th>SP</th>
              <th>RW</th>
              <th>RT</th>
              <th>LB</th>
            </tr>
            <tr>
              <td><%= auto_a1_success_1 %>/<%= auto_a1_attempts_1 %></td>
              <td><%= auto_a2_success_1 %>/<%= auto_a2_attempts_1 %></td>
              <td><%= auto_b1_success_1 %>/<%= auto_b1_attempts_1 %></td>
              <td><%= auto_b2_success_1 %>/<%= auto_b2_attempts_1 %></td>
              <td><%= auto_c1_success_1 %>/<%= auto_c1_attempts_1 %></td>
              <td><%= auto_c2_success_1 %>/<%= auto_c2_attempts_1 %></td>
              <td><%= auto_d1_success_1 %>/<%= auto_d1_attempts_1 %></td>
              <td><%= auto_d2_success_1 %>/<%= auto_d2_attempts_1 %></td>
              <td><%= auto_lb_success_1 %>/<%= auto_lb_attempts_1 %></td>
            </tr>
          </table>
          <h3><u>Teleop Data</u></h3>
          <h4 style="margin-top:0;">High Goals: <%= tele_high_made_1 %> / <%= tele_high_attempts_1 %></h4>
          <h4 style="margin-top:0;">Low Goals: <%= tele_low_made_1 %> / <%= tele_low_attempts_1 %></h4>
          <h4 style="margin-top:0;">Driver Rating: <%= avg_driver_rating_1 %></h4>
          <h4 style="margin-top:0;">Bully Rating: <%= avg_bully_rating_1 %></h4>
          <h4 style="margin-top:0;">Knockouts: <%= knockouts_1 %></h4>
          <h4 style="margin-top:0;">Deads: <%= deads_1 %></h4>
          <h4 style="margin-top:0;">Fouls: <%= fouls_1 %></h4>
          <table class="table">
            <tr>
              <th />
              <th>Results</th>
              <th>Rating</th>
              <th>Assist</th>
              <th>Stuck</th>
            </tr>
            <tr>
              <th>PC</th>
              <td><%= a1_success_1 %> / <%= a1_attempts_1 %></td>
              <td><%= a1_rating_1 %></td>
              <td><%= a1_assist_1 %></td>
              <td><%= a1_stuck_1 %></td>
            </tr>
            <tr>
              <th>CF</th>
              <td><%= a2_success_1 %> / <%= a2_attempts_1 %></td>
              <td><%= a2_rating_1 %></td>
              <td><%= a2_assist_1 %></td>
              <td><%= a2_stuck_1 %></td>
            </tr>
            <tr>
              <th>M</th>
              <td><%= b1_success_1 %> / <%= b1_attempts_1 %></td>
              <td><%= b1_rating_1 %></td>
              <td><%= b1_assist_1 %></td>
              <td><%= b1_stuck_1 %></td>
            </tr>
            <tr>
              <th>RP</th>
              <td><%= b2_success_1 %> / <%= b2_attempts_1 %></td>
              <td><%= b2_rating_1 %></td>
              <td><%= b2_assist_1 %></td>
              <td><%= b2_stuck_1 %></td>
            </tr>
            <tr>
              <th>DB</th>
              <td><%= c1_success_1 %> / <%= c1_attempts_1 %></td>
              <td><%= c1_rating_1 %></td>
              <td><%= c1_assist_1 %></td>
              <td><%= c1_stuck_1 %></td>
            </tr>
            <tr>
              <th>SP</th>
              <td><%= c2_success_1 %> / <%= c2_attempts_1 %></td>
              <td><%= c2_rating_1 %></td>
              <td><%= c2_assist_1 %></td>
              <td><%= c2_stuck_1 %></td>
            </tr>
            <tr>
              <th>RW</th>
              <td><%= d1_success_1 %> / <%= d1_attempts_1 %></td>
              <td><%= d1_rating_1 %></td>
              <td><%= d1_assist_1 %></td>
              <td><%= d1_stuck_1 %></td>
            </tr>
            <tr>
              <th>RT</th>
              <td><%= d2_success_1 %> / <%= d2_attempts_1 %></td>
              <td><%= d2_rating_1 %></td>
              <td><%= d2_assist_1 %></td>
              <td><%= d2_stuck_1 %></td>
            </tr>
            <tr>
              <th>LB</th>
              <td><%= lb_success_1 %> / <%= lb_attempts_1 %></td>
              <td><%= lb_rating_1 %></td>
              <td><%= lb_assist_1 %></td>
              <td><%= lb_stuck_1 %></td>
            </tr>
          </table>
          <h3><u>End Game</u></h3>
          <h4 style="margin-top:0;">Hang: <%= hang_success_1 %> / <%= hang_attempts_1 %></h4>
          <h4 style="margin-top:0;">Challenge: <%= challenge_success_1 %> / <%= challenge_attempts_1 %></h4>
        </div>
      </div>
    </div>
    <div id="team2" style="padding-left:10px; padding-right:10px;">
      <div class="row">
        <div class="col-lg-12">
          <h2><%= team_number_2 %> - <%= team_name_2 %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10">
          <h3 style="margin-top:0;">Avg. Score: <%= avg_auto_score_2 %> / <%= avg_contrib_score_2 %></h3>
          <h3><u>Autonomous Data</u></h3>
          <h4 style="margin-top:0;">No Auto: <%= no_autos_2 %></h4>
          <h4 style="margin-top:0;">Reaches: <%= auto_reaches_2 %></h4>
          <h4 style="margin-top:0;">High Goals: <%= auto_high_made_2 %> / <%= auto_high_attempts_2 %></h4>
          <h4 style="margin-top:0;">Low Goals: <%= auto_low_made_2 %> / <%= auto_low_attempts_2 %></h4>
          <table class="table">
            <tr>
              <th>PC</th>
              <th>CF</th>
              <th>M</th>
              <th>RP</th>
              <th>DB</th>
              <th>SP</th>
              <th>RW</th>
              <th>RT</th>
              <th>LB</th>
            </tr>
            <tr>
              <td><%= auto_a1_success_2 %>/<%= auto_a1_attempts_2 %></td>
              <td><%= auto_a2_success_2 %>/<%= auto_a2_attempts_2 %></td>
              <td><%= auto_b1_success_2 %>/<%= auto_b1_attempts_2 %></td>
              <td><%= auto_b2_success_2 %>/<%= auto_b2_attempts_2 %></td>
              <td><%= auto_c1_success_2 %>/<%= auto_c1_attempts_2 %></td>
              <td><%= auto_c2_success_2 %>/<%= auto_c2_attempts_2 %></td>
              <td><%= auto_d1_success_2 %>/<%= auto_d1_attempts_2 %></td>
              <td><%= auto_d2_success_2 %>/<%= auto_d2_attempts_2 %></td>
              <td><%= auto_lb_success_2 %>/<%= auto_lb_attempts_2 %></td>
            </tr>
          </table>
          <h3><u>Teleop Data</u></h3>
          <h4 style="margin-top:0;">High Goals: <%= tele_high_made_2 %> / <%= tele_high_attempts_2 %></h4>
          <h4 style="margin-top:0;">Low Goals: <%= tele_low_made_2 %> / <%= tele_low_attempts_2 %></h4>
          <h4 style="margin-top:0;">Driver Rating: <%= avg_driver_rating_2 %></h4>
          <h4 style="margin-top:0;">Bully Rating: <%= avg_bully_rating_2 %></h4>
          <h4 style="margin-top:0;">Knockouts: <%= knockouts_2 %></h4>
          <h4 style="margin-top:0;">Deads: <%= deads_2 %></h4>
          <h4 style="margin-top:0;">Fouls: <%= fouls_2 %></h4>
          <table class="table">
            <tr>
              <th />
              <th>Results</th>
              <th>Rating</th>
              <th>Assist</th>
              <th>Stuck</th>
            </tr>
            <tr>
              <th>PC</th>
              <td><%= a1_success_2 %> / <%= a1_attempts_2 %></td>
              <td><%= a1_rating_2 %></td>
              <td><%= a1_assist_2 %></td>
              <td><%= a1_stuck_2 %></td>
            </tr>
            <tr>
              <th>CF</th>
              <td><%= a2_success_2 %> / <%= a2_attempts_2 %></td>
              <td><%= a2_rating_2 %></td>
              <td><%= a2_assist_2 %></td>
              <td><%= a2_stuck_2 %></td>
            </tr>
            <tr>
              <th>M</th>
              <td><%= b1_success_2 %> / <%= b1_attempts_2 %></td>
              <td><%= b1_rating_2 %></td>
              <td><%= b1_assist_2 %></td>
              <td><%= b1_stuck_2 %></td>
            </tr>
            <tr>
              <th>RP</th>
              <td><%= b2_success_2 %> / <%= b2_attempts_2 %></td>
              <td><%= b2_rating_2 %></td>
              <td><%= b2_assist_2 %></td>
              <td><%= b2_stuck_2 %></td>
            </tr>
            <tr>
              <th>DB</th>
              <td><%= c1_success_2 %> / <%= c1_attempts_2 %></td>
              <td><%= c1_rating_2 %></td>
              <td><%= c1_assist_2 %></td>
              <td><%= c1_stuck_2 %></td>
            </tr>
            <tr>
              <th>SP</th>
              <td><%= c2_success_2 %> / <%= c2_attempts_2 %></td>
              <td><%= c2_rating_2 %></td>
              <td><%= c2_assist_2 %></td>
              <td><%= c2_stuck_2 %></td>
            </tr>
            <tr>
              <th>RW</th>
              <td><%= d1_success_2 %> / <%= d1_attempts_2 %></td>
              <td><%= d1_rating_2 %></td>
              <td><%= d1_assist_2 %></td>
              <td><%= d1_stuck_2 %></td>
            </tr>
            <tr>
              <th>RT</th>
              <td><%= d2_success_2 %> / <%= d2_attempts_2 %></td>
              <td><%= d2_rating_2 %></td>
              <td><%= d2_assist_2 %></td>
              <td><%= d2_stuck_2 %></td>
            </tr>
            <tr>
              <th>LB</th>
              <td><%= lb_success_2 %> / <%= lb_attempts_2 %></td>
              <td><%= lb_rating_2 %></td>
              <td><%= lb_assist_2 %></td>
              <td><%= lb_stuck_2 %></td>
            </tr>
          </table>
          <h3><u>End Game</u></h3>
          <h4 style="margin-top:0;">Hang: <%= hang_success_2 %> / <%= hang_attempts_2 %></h4>
          <h4 style="margin-top:0;">Challenge: <%= challenge_success_2 %> / <%= challenge_attempts_2 %></h4>
        </div>
      </div>
    </div>
    <div id="team3" style="padding-left:10px; padding-right:10px;">
      <div class="row">
        <div class="col-lg-12">
          <h2><%= team_number_3 %> - <%= team_name_3 %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10">
          <h3 style="margin-top:0;">Avg. Score: <%= avg_auto_score_3 %> / <%= avg_contrib_score_3 %></h3>
          <h3><u>Autonomous Data</u></h3>
          <h4 style="margin-top:0;">No Auto: <%= no_autos_3 %></h4>
          <h4 style="margin-top:0;">Reaches: <%= auto_reaches_3 %></h4>
          <h4 style="margin-top:0;">High Goals: <%= auto_high_made_3 %> / <%= auto_high_attempts_3 %></h4>
          <h4 style="margin-top:0;">Low Goals: <%= auto_low_made_3 %> / <%= auto_low_attempts_3 %></h4>
          <table class="table">
            <tr>
              <th>PC</th>
              <th>CF</th>
              <th>M</th>
              <th>RP</th>
              <th>DB</th>
              <th>SP</th>
              <th>RW</th>
              <th>RT</th>
              <th>LB</th>
            </tr>
            <tr>
              <td><%= auto_a1_success_3 %>/<%= auto_a1_attempts_3 %></td>
              <td><%= auto_a2_success_3 %>/<%= auto_a2_attempts_3 %></td>
              <td><%= auto_b1_success_3 %>/<%= auto_b1_attempts_3 %></td>
              <td><%= auto_b2_success_3 %>/<%= auto_b2_attempts_3 %></td>
              <td><%= auto_c1_success_3 %>/<%= auto_c1_attempts_3 %></td>
              <td><%= auto_c2_success_3 %>/<%= auto_c2_attempts_3 %></td>
              <td><%= auto_d1_success_3 %>/<%= auto_d1_attempts_3 %></td>
              <td><%= auto_d2_success_3 %>/<%= auto_d2_attempts_3 %></td>
              <td><%= auto_lb_success_3 %>/<%= auto_lb_attempts_3 %></td>
            </tr>
          </table>
          <h3><u>Teleop Data</u></h3>
          <h4 style="margin-top:0;">High Goals: <%= tele_high_made_3 %> / <%= tele_high_attempts_3 %></h4>
          <h4 style="margin-top:0;">Low Goals: <%= tele_low_made_3 %> / <%= tele_low_attempts_3 %></h4>
          <h4 style="margin-top:0;">Driver Rating: <%= avg_driver_rating_3 %></h4>
          <h4 style="margin-top:0;">Bully Rating: <%= avg_bully_rating_3 %></h4>
          <h4 style="margin-top:0;">Knockouts: <%= knockouts_3 %></h4>
          <h4 style="margin-top:0;">Deads: <%= deads_3 %></h4>
          <h4 style="margin-top:0;">Fouls: <%= fouls_3 %></h4>
          <table class="table">
            <tr>
              <th />
              <th>Results</th>
              <th>Rating</th>
              <th>Assist</th>
              <th>Stuck</th>
            </tr>
            <tr>
              <th>PC</th>
              <td><%= a1_success_3 %> / <%= a1_attempts_3 %></td>
              <td><%= a1_rating_3 %></td>
              <td><%= a1_assist_3 %></td>
              <td><%= a1_stuck_3 %></td>
            </tr>
            <tr>
              <th>CF</th>
              <td><%= a2_success_3 %> / <%= a2_attempts_3 %></td>
              <td><%= a2_rating_3 %></td>
              <td><%= a2_assist_3 %></td>
              <td><%= a2_stuck_3 %></td>
            </tr>
            <tr>
              <th>M</th>
              <td><%= b1_success_3 %> / <%= b1_attempts_3 %></td>
              <td><%= b1_rating_3 %></td>
              <td><%= b1_assist_3 %></td>
              <td><%= b1_stuck_3 %></td>
            </tr>
            <tr>
              <th>RP</th>
              <td><%= b2_success_3 %> / <%= b2_attempts_3 %></td>
              <td><%= b2_rating_3 %></td>
              <td><%= b2_assist_3 %></td>
              <td><%= b2_stuck_3 %></td>
            </tr>
            <tr>
              <th>DB</th>
              <td><%= c1_success_3 %> / <%= c1_attempts_3 %></td>
              <td><%= c1_rating_3 %></td>
              <td><%= c1_assist_3 %></td>
              <td><%= c1_stuck_3 %></td>
            </tr>
            <tr>
              <th>SP</th>
              <td><%= c2_success_3 %> / <%= c2_attempts_3 %></td>
              <td><%= c2_rating_3 %></td>
              <td><%= c2_assist_3 %></td>
              <td><%= c2_stuck_3 %></td>
            </tr>
            <tr>
              <th>RW</th>
              <td><%= d1_success_3 %> / <%= d1_attempts_3 %></td>
              <td><%= d1_rating_3 %></td>
              <td><%= d1_assist_3 %></td>
              <td><%= d1_stuck_3 %></td>
            </tr>
            <tr>
              <th>RT</th>
              <td><%= d2_success_3 %> / <%= d2_attempts_3 %></td>
              <td><%= d2_rating_3 %></td>
              <td><%= d2_assist_3 %></td>
              <td><%= d2_stuck_3 %></td>
            </tr>
            <tr>
              <th>LB</th>
              <td><%= lb_success_3 %> / <%= lb_attempts_3 %></td>
              <td><%= lb_rating_3 %></td>
              <td><%= lb_assist_3 %></td>
              <td><%= lb_stuck_3 %></td>
            </tr>
          </table>
          <h3><u>End Game</u></h3>
          <h4 style="margin-top:0;">Hang: <%= hang_success_3 %> / <%= hang_attempts_3 %></h4>
          <h4 style="margin-top:0;">Challenge: <%= challenge_success_3 %> / <%= challenge_attempts_3 %></h4>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
