<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top:60px;">
    <div class="row">
      <div class="col-lg-12" align="center">
        <h2>
          <a href="/team/<%= team_number %>" style="color: black;"><%= team_number %> - <%= team_name %></a>
        </h2>
      </div>
    </div>
    <table class="table table-bordered">
      <%- matches %>
    </table>
    <% if(!matches) { %>
      <div class="row" align="center">
        <h3>No matches available for team <%= team_number %>.</h3>
      </div>
    <% } %>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
